body {
    margin: 0;
    text-align: center;
    background-color: grey;
}

.score {
    font-family: 'Cursed Timer ULiL';
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 135px;
    margin: 20px;
    
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#reset-btn {
    font-family: 'DynaPuff', cursive;
    font-size: 40px;
    border-radius: 20px;
    border-width: 3px;
    margin-top: 10%;
    
}